/* flexbox, media queries, and CSS variables. */
:root {
  --navlink: #a75bee;
  --light: #ffffff;
  --dark: #000000;

}
body{
  color: var(--light);
  background-color: var(--dark);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--dark);
}

nav a {
  display: block;
  color: var(--light);
  font-size: 26px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



/* Main flex container */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 30px;
}

.flex-container-second-project {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 50%;
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}

.flex-item-title {
  padding: 10px;
  flex: 20%;
}

.flex-item-image {
  padding: 10px;
  flex: 80%;
  border: 3px solid var(--light);
}

/* Project Image styling start */
#project-image {
  display: block;
}

#project-image:hover {
  border: 7px solid lightblue;
}

#project-image img {
  max-width: 100%;
}

/* Project Image styling end */


a {
  text-decoration: none;
}

footer div {
  display: flex;
  justify-content: space-evenly;
  font-size: 24x;
  align-items: flex-end;
}
footer div a{
  display: block;
  color: var(--light);
  font-size: 26px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover{
  background-color: grey;
}